.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: $bg-color;

    .table-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 100%;

        .title {
            height: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: bold;
            .title-img {
                height: 55px;
                width: auto;
                background-size: auto;
                cursor: pointer;
            }
        }
        .table-item-box {
            background: #ffffff;
            width: 360px;
            height: calc(100% - 70px);
            border-radius: 10px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .table-item {
                background: $bg-color;
                width: 90%;
                padding: 10px 0;
                text-align: center;
                margin-top: 10px;
                font-size: 14px;
                border-radius: 10px;
                cursor: pointer;
            }
            .table-item-a {
                background: $bg-color;
                color: #000;
            }
            .table-item-b {
                background: $basic-color;
                color: #ffffff;
            }
            .table-item:hover {
                background: $basic-color;
                color: #ffffff;
            }
        }
    }
    .playground {
        width: calc(100% - 400px);
        height: 100%;
        display: flex;
        flex-direction: row;

        .playground-left {
            width: calc(100% - 300px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .right-main {
                margin: 0 auto;
                width: 70%;
                height: calc(100% - 50px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title {
                    font-size: 16px;
                    padding: 20px 0;
                    font-weight: bold;
                }
                .chat-box {
                    width: 100%;
                    height: calc(100% - 50px);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 10px;
                    .play-box {
                        width: 100%;
                        height: 88%;
                        overflow-y: auto;
                        background: #ffffff;
                        border-radius: 10px;
                        .play-main {
                            margin: 0 auto;
                            padding-bottom: 20px;

                            flex-wrap: wrap;
                            padding: 10px;
                            .item-box {
                                display: flex;
                                flex-direction: column;
                                margin: 0 10px;
                                .type-box {
                                    display: flex;
                                    align-items: center;
                                    .type-icon {
                                        width: 30px;
                                        height: 30px;

                                        margin-right: 10px;
                                    }
                                    .icon1 {
                                        color: $font-color;
                                    }
                                    .icon2 {
                                        color: rgb(255, 0, 138);
                                    }
                                    .type1 {
                                        font-size: 16px;
                                        font-weight: bold;
                                        color: $font-color;
                                    }
                                    .type2 {
                                        font-size: 16px;
                                        font-weight: bold;
                                        color: rgb(255, 0, 138);
                                    }
                                }

                                .item-content {
                                    font-size: 14px;
                                    color: #333333;
                                    background: $bg-color;
                                    border-radius: 6px;
                                    .chat-content-text {
                                        font-size: 14px;
                                        color: #676767;
                                    }
                                }
                            }
                        }
                    }

                    .play-input-box {
                        width: 100%;
                        margin: 0 auto;
                        position: relative;
                        .play-btn {
                            width: 50px;
                            position: absolute;
                            right: 20px;
                            top: calc(50% - 20px);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }

        .playground-right {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
            .playground-right-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
            }
            .session-box {
                width: 360px;
                height: calc(100vh - 230px);
                display: flex;
                align-items: center;
                flex-direction: column;
                overflow: auto;
                background: #ffffff;
                border-radius: 10px;

                .session-item {
                    width: calc(90% - 20px);
                    padding: 0 10px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 15px;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-top: 10px;
                    .session-text {
                        flex: 1;
                        height: 30px;
                        padding-top: 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .session-icon-del {
                        width: 40px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .session-item-1 {
                    background-color: $basic-color;
                    color: #ffffff;
                }
                .session-item-2 {
                    background: $bg-color;
                    color: #222222;
                }
            }

            .session-item:hover {
                background-color: $basic-color;
                color: #ffffff;
            }
        }
    }
}

/* 当视口宽度小于1200px时，隐藏左边的内容表单 */
@media screen and (max-width: 1300px) {
    .table-list {
        display: none !important;
    }
    .playground {
        width: 100% !important;
    }
}
@media screen and (max-width: 1000px) {
    .playground-left {
        width: 100% !important;
    }
    .playground-right {
        display: none !important;
    }
}
